* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1d1d;
    color: #fff;
}

/* Contêiner da Tela de Login */
.login-container {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #333;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Título */
.login-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(26, 118, 238); /* Usando a cor de destaque do botão "Login" */
}

/* Estilos do Formulário */
.login-box label {
    display: block;
    font-size: 14px;
    color: #bbb;
    margin-bottom: 5px;
    text-align: left;
}

.login-box input[type="email"],
.login-box input[type="password"], 
.login-box input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    color: #fff;
    outline: none;
}

/* Botão de Login */
.login-button {
    width: 100%;
    padding: 10px;
    background-color: rgb(26, 118, 238);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: rgb(27, 64, 114);
}

/* Link de cadastro */
.signup-link {
    margin-top: 15px;
    font-size: 14px;
}

.signup-link a {
    color: #32cd32; /* Cor similar ao botão "Sign In" */
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

#messageBox{
    background-color: darkred;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    display: none;
}

.checkbox-container {
    display: flex;
    gap: 12px; /* Espaço entre o checkbox e o texto */
    font-size: 14px;
    color: #444;
}

.checkbox-container input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: #444;
}

.checkbox-container label {
    margin-bottom: 15px;
    padding: 0; 
    line-height: 1; 
}